
/* 
.App-link {
  color: #61dafb;
} */

body {
  background-color: rgba(0, 123, 255, .4)
}

/* Header Component */

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 18vw;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-outline-primary {
  color: whitesmoke;
}

.link:hover {
  color: gainsboro;
  text-decoration: none;
}

/* MainDisplay Component */

.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainDisplay h1 {
  margin: 1.5rem 0 2rem 0;
}

/* inputTodo Component */

.inputTodo {
  width: 40vw;
  height: 6vh;
  /* margin: 1rem auto 0 auto; */
}


.inputTodo img:hover {
  color: white
}

.input {
  height: 9vh;
}


/* Footer Component */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 15vh;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #007BFF;
  color: whitesmoke;
}