
/* 
.App-link {
  color: #61dafb;
} */

/* Header Component */

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 18vw;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover {
  color: gainsboro;
  text-decoration: none;
}

/* inputTodo Component */

.inputTodo {
  width: 40vw;
  margin: 1rem auto 0 auto;
}

/* Footer Component */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 15vh;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #007BFF;
  color: whitesmoke;
}